@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-info">
    <p class="lead">示範重複使用 Child Action</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.Action("ForchildAction",new{i=0})
    </div>
    <div class="col-md-4">
        @Html.Action("ForChildAction", new { i = 1 })
    </div>
    <div class="col-md-4">
        @Html.Action("ForChildAction", new { i = 2 })
    </div>
</div>
