@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-info">
    <p class="lead">示範使用 AJAX ,PartialView ,Child Action 的差異</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.Partial("_ForIndexPartialView", DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss ffff"))
    </div>
    <div class="col-md-4">
        @Html.Action("ForIndexChildAction")

    </div>
    <div class="col-md-4" id="pureAjax">
        <div class="panel panel-danger">
            <div class="panel-heading">Pure AJAX</div>
            <div class="panel-body">
                <i class="fa fa-spinner fa-pulse"></i>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("ajaxUrl", Url.Action("ForIndexAjax"))
@section scripts
{
    <script>
        $(function () {
            $.ajax({
                type: "GET",
                url: $("#ajaxUrl").val(),
                dataType: "HTML",
                success: function (response) {
                    $("#pureAjax").html(response);
                }
            });
        });
    </script>
}